{% extends 'shop/base.html' %}
{% load static %}

{% block header_links %}
    <link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/account.css'%}">
{% endblock header_links %}

<!--menu-->
{% block menu %}
    {% include 'shop/nav.html' %}
{% endblock menu %}

<!--content-->
{% block content %}
        {{ customer_details_form.as_p }}
        <div class="container">
                <div class="product_detail_section">
                    <div class="row">
                        <div class="col-md-1">
                            <a href="#" class="back_to_products" onclick="history.back()">Back</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                                {% if accountinfo %}
                                <form method="POST", action="#">
                                        {% csrf_token %}
                                        <div class="info_update_container">
                                                <div class="row">
                                                        <label for="name_update">Full name</label>
                                                        <input type="text" class="form-control" value="{{ accountinfo.customer.name }}" name="name_update" disabled/>
                                                </div>
                                                <div class="row">
                                                        <label for="email_update">Email </label>
                                                        <input type="text" class="form-control" value="{{ accountinfo.customer.email }}" name="email_update" disabled/>
                                                </div>
                                                <div class="row">
                                                      <!-- Button trigger for change password modal -->
                                                        <button type="button" class="edit_btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                                                Change Password
                                                        </button>
                                                        
                                                        <!-- Modal -->
                                                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered">
                                                                <div class="modal-content">
                                                                <div class="modal-header"> 
                                                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Change Password</h1>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                        <div class="change_password">
                                                                                <label for="old_password">Old Password</label>
                                                                                <input type="password" class="form-control" name="old_password" />
                                                                                <label for="old_password">New Password</label>
                                                                                <input type="password" class="form-control" name="new_password" />
                                                                                <label for="old_password">Confirm New Password</label>
                                                                                <input type="password" class="form-control" name="new_password_confirmation" />
                                                                        </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                <button type="button" class="btn btn-primary">Understood</button>
                                                                </div>
                                                                </div>
                                                                </div>
                                                        </div>  
                                                </div>
                                        </div>

                                </form>
                                        
                                {% endif %}
                        </div>
                        <div class="col-md-6">
                                {% if accountinfo %}
                                        <form method="POST", action="#">
                                                {% csrf_token %}
                                                <div class="info_update_container">
                                                        <div class="row">
                                                                <label for="hse_no_update">House number</label>
                                                                <input type="text" class="form-control" value="{{ accountinfo.house_number }}" name="hse_no_update">
                                                        </div>
                                                        <div class="row">
                                                                <label for="street_update">Street name</label>
                                                                <input type="text" class="form-control" value="{{ accountinfo.street }}" name="street_update">
                                                        </div>
                                                        <div class="row">
                                                                <label for="county_update">County</label>
                                                                <input type="text" class="form-control" value="{{ accountinfo.region_or_county }}" name="county_update">
                                                        </div>
                                                        <div class="row">
                                                                <label for="post_code_update">Postcode</label>
                                                                <input type="text" class="form-control" value="{{ accountinfo.postcode }}" name="post_code_update">
                                                        </div>
                                                        <div class="row">
                                                                <label for="country_update">Country</label>
                                                                <input type="text" class="form-control" value="{{ accountinfo.country }}" name="country_update" disabled>
                                                        </div>
                                                        <div class="row">
                                                                <label for="phone_update">House Number</label>
                                                                <input type="text" class="form-control" value="{{ accountinfo.phone }}" name="phone_update">
                                                        </div>
                                                </div>

                                        </form>
                                {% endif %}
                        </div>
                    </div>
                      
                </div>
            </div>
{% endblock content %}

<!--footer-->
{% block footer %}
{% include 'shop/footer.html' %}
{% endblock footer %}


