*{
	margin: 0;
	padding: 0;
}

body{
	font-family: Roboto, sans-serif;
	font-size: 0.8em;
	background-color: #F3F6F9;
	margin: 0;
	padding: 0;
}

#top_deals{
	margin-top: 6%;
}


div.section_title_wrapper{
	width: 4%;
	height: 1px;
	border-top: 3px solid #0070E0;
	margin-bottom: -4%;
}


#top_deals div {
	padding: 2%;
}

#top_deals .img_wrapper{
	position: relative;
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: inherit;
	box-shadow: 1px 1px 20px  rgb(208, 208, 208);
	border-radius: 1em;
}

#top_deals div img {
	
	overflow: hidden;
}

#top_deals .img_details{
	position: absolute;
	left: 1em;
	bottom: 1em;
	transition: bottom 0.5s;
	color: #231F20;
	/* background-color: #FFF; */
	border-radius: 1em;
	max-height: 200px;
}

#top_deals .img_details h6{
	font-weight: bolder;
	text-transform: uppercase;
}

#top_deals .img_details h6, #top_deals .img_details p{
	background-color: #FFF;
	border-radius: 0.2em;
	padding: 0.2em;
	border-left: 3px solid #0070E0;
}

.deals_shop_btn{
	border-radius: 20px;
	-ms-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
	padding: 4px 20px;
	background-color: #0070E0;
	color: #F3F6F9;
	font-weight: bold;
	border: none;
	visibility: hidden;
	/* display: none; */
	bottom: 0;
	transition: bottom 0.7s;
}

#top_deals .img_wrapper:hover img{
	transform: scale(1.05);
	-ms-transform:scale(1.05); /* IE 9 */
    -moz-transform:scale(1.05); /* Firefox */
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -o-transform:scale(1.05); /* Opera */
    -webkit-filter: brightness(70%);
	filter: brightness(70%);
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

#top_deals .img_wrapper:hover .deals_shop_btn{
	position: absolute;
	bottom: 0.5em;
	color: #FFF;
	visibility: visible;
	/* display: block; */
}

#top_deals .img_wrapper:hover .img_details{
	bottom: 3em;
	color: #FFF;
	visibility: visible;
	background-color: transparent;
}

#top_deals .img_wrapper:hover .img_details h6, #top_deals .img_wrapper:hover .img_details p{
	background-color: transparent;
	border-left: none;
}